<div class="navbar navbar-inverse" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
        <img src="static/images/breaking.png" class="navbar-brand" style="width: 70px; height: 70px;">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style = "font-size:30px; font-weight:bold; text-align:center";><a href="/">Home</a></li>
            </div>

        </div>
    </div>